@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 12px;
}

h1 {
  font-size: 1.75rem;
}

p {
  font-size: 12px;
  font-weight: 500;
}

@media (min-width: $layout-breakpoint-medium) {
  p {
    font-size: 14px;
  }
}

@media (min-width: $layout-breakpoint-large) {
  p {
    font-size: 16px;
  }
}
