@import "../../../styles/sass/variables.scss";

.scheduledItemsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.itemContainer {
  width: 45%;
  margin: 20px auto;
  margin-bottom: 30px;
}

.labelContainer {
  max-width: 60px;
  margin: 0 auto;
  text-align: center;
}

.p {
  text-align: center;
}

.iconContainer {
  position: relative;
  height: 60px;
  width: 60px;
  margin: 10px auto;
}

.more {
  margin-top: 60px;
  text-align: center;
}

.unscheduledItemsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.unscheduledItemContainer {
  width: 45%;
  margin: 20px auto;
}

@media (min-width: $layout-breakpoint-small) {
  .scheduledItemsContainer {
    flex-wrap: nowrap;
  }

  .unscheduledItemsContainer {
    flex-wrap: nowrap;
  }

  .more {
    margin-top: 90px;
  }
}

@media (min-width: $layout-breakpoint-medium) {
  .more {
    text-align: left;
  }

  .labelContainer {
    max-width: 100px;
  }
}
