.schedule {
  margin-bottom: 60px;
}

.scheduledItemsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.itemContainer {
  width: 45%;
  margin: 20px auto;
  margin-bottom: 30px;
}

.labelContainer {
  max-width: 60px;
  margin: 0 auto;
}

.p {
  text-align: center;
}

.iconContainer {
  position: relative;
  height: 60px;
  width: 60px;
  margin: 10px auto;
}

.imageSection {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
}

.imageContainer {
  position: absolute;
  height: 183px;
  width: 100px;
  left: -10px;
  top: -70px;
}

.unscheduledItemsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.unscheduledItemContainer {
  width: 45%;
  margin: 20px auto;
}
