@import "../../../styles/sass/variables.scss";

.imageSection {
  position: relative;
  width: 100%;
  height: 170px;
}

.factoryContainer {
  height: 170px;
  width: 80%;
  margin: 0 auto;
}

.bottomLeftContainer {
  display: none;
}

.bottomRightContainer {
  display: none;
}

@media (min-width: $layout-breakpoint-small) {
  .imageSection {
    height: 270px;
  }

  .factoryContainer {
    height: 270px;
  }

  .bottomLeftContainer {
    display: block;
    position: absolute;
    width: 140px;
    height: 260px;
    left: 0;
    top: 60;
  }

  .bottomRightContainer {
    display: block;
    position: absolute;
    width: 140px;
    height: 280px;
    right: 0;
    top: -80;
  }
}

@media (min-width: $layout-breakpoint-medium) {
  .imageSection {
    height: 330px;
  }

  .factoryContainer {
    height: 330px;
  }

  .bottomLeftContainer {
    width: 200px;
    height: 340px;
  }

  .bottomRightContainer {
    width: 200px;
    height: 340px;
  }
}

@media (min-width: $layout-breakpoint-large) {
  .imageSection {
    height: 430px;
  }

  .factoryContainer {
    height: 430px;
  }

  .bottomLeftContainer {
    width: 248px;
    height: 448px;
  }

  .bottomRightContainer {
    width: 248px;
    height: 448px;
  }
}
