@import "../../../styles/sass/variables.scss";

.when,
.where {
  margin-bottom: 30px;
}

.p {
  text-align: center;
}

@media (min-width: $layout-breakpoint-small) {
  .whenWhereContainer {
    display: flex;
    justify-content: space-around;
    max-width: 700px;
    margin: 0 auto;
  }
}
